---
layout: default
---

{% assign post_count = site.posts | size %}

<div class='o-wrapper'>
  <div class='o-grid'>
    {% if post_count != 0 %}
        {% for post in paginator.posts %}
          {% include post-card.liquid %}
        {% endfor %}
    {% else %}
        {% assign about_page = site.pages | where: "name", "about.md" %}
        <article class='c-post'>
            <div class='c-content'>
                {{ about_page }}
            </div>
        </article>
    {% endif %}
  </div>

  <div class='o-grid'>
    {% include pagination.html %}
  </div>
</div>