// *----------------------------------*\
//  Settings > Colors
// *----------------------------------*/

// Colors
$color-brand: #bb0a21;
$color-white: #ffffff;
$color-text: #1a1a1a;
$color-gray: #2e2e2e;

// Background Colors
$bg-color-white: $color-white;
$bg-color-dark: #222228;
$bg-color-gray: #fafafa;

// Border
$color-border: #e9eff3;

// Links
$color-link: $color-text;
$color-link-hover: $color-brand;
