/*------------------------------------*\
  Components > Content
\*------------------------------------*/

.c-content {
  a:not(.c-btn) {
    text-decoration: underline;
    text-decoration-skip: ink;

    @include attention() {
      color: $color-brand;
    }
  }
  .footnotes {
    border-top: 4px solid $color-border;
    padding-top: double($base-spacing-unit);
  }
  .reversefootnote {
    font-family: $font-monospace;
  }
}
