/*------------------------------------*\
  Components > Newsletter
\*------------------------------------*/

.newsletter {
  padding: double($base-spacing-unit);
  background-color: $bg-color-gray;
  margin-top: double($base-spacing-unit);
  text-align: center;
}

.newsletter button {
    margin: $base-spacing-unit;
}