/*------------------------------------*\
  Components > Newsletter
\*------------------------------------*/

.newsletter {
  padding: double($base-spacing-unit);
  background-color: $bg-color-gray;
  margin-top: double($base-spacing-unit);
  text-align: center;

  & h1 {
    font-size: triple($font-size-tiny);
    font-weight: $font-weight-bolder;
  }

  & input {
    transition: $global-transition;
    background-color: transparent;
    border-color: $color-text;

    &:focus {
      background-color: $color-white;
    }
  }

  & button {
    margin-top: double($base-spacing-unit);
  }
}
